*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
commonlibrary/.idea/libraries/__local_aars___D__projects_AndroidProjects_matchmakingbusiness_v2_framelibrary_src_main_jniLibs_AMap3DMap_7_0_0_AMapNavi_7_0_0_AMapSearch_6_9_2_AMapLocation_4_7_2_20191008_jar_unspecified_jar.xml
